:root {
  /* Color palette */
  --light:        #ffffff;
  --dark:         #1a1a1a;
  --black:        #000000;
  --grey-light-3: #EBEAED;
  --grey-light-2: #CCCCCC;
  --grey-light:   #A7A7A7;
  --grey:         #666666;
  --grey-dark:    #363636;
  --green-light:  #D7FFE0;
  --green:        #018C0F;
  --blue:         #13B0F5;
  --pink:         #E70FAA;
  --purple:       #7566d2;
  --purple-dark:  #42446E;

  /* Gradients */
  --gradient-blue-pink: linear-gradient(
    to right,
    var(--blue),
    var(--pink)
  );
  --gradient-blue-pink-yt: linear-gradient(
    to top,
    var(--blue),
    var(--pink)
  );
  --gradient-blue-purple: linear-gradient(
    to right,
    var(--blue),
    var(--purple)
  );

  /* Color variables: Light mode */
  --body-bg:               var(--light);
  --body-text:             var(--grey);
  --link-text:             var(--black);
  --link-text-hover:       var(--grey);
  --email-link-hover:      var(--blue);

  --heading-text:          var(--purple-dark);
  --heading-3-text:        var(--body-text);
  --header-nav-link:       var(--black);
  --header-nav-link-hover: var(--grey);
  --logo-gradient:         var(--gradient-blue-pink);

  --pill-text:             var(--green);
  --pill-bg:               var(--green-light);
  --list-item-border:      var(--grey-light-3);
  --list-detail-text:      var(--grey-light);

  --card-shadow:           var(--grey-light-2);
  --card-shadow-hover:     var(--grey);
  --card-bg:               var(--light);
  --card-title-text:       var(--black);
  --card-note-text:        var(--purple-dark);
}

/* Resets etc. */

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

img {
  width: 100%;
}

/* Dark mode colors */

.theme-toggle:checked ~ .wrapper {
  --body-bg:               var(--dark);
  --body-text:             var(--light);
  --link-text-hover:       var(--grey-light);

  --heading-text:          var(--grey-light-2);
  --header-nav-link:       var(--grey-light);
  --header-nav-link-hover: var(--light);

  --list-item-border:      var(--grey-dark);
  --list-detail-text:      var(--grey-light);

  --card-shadow:           var(--dark);
  --card-shadow-hover:     var(--dark);
  --card-bg:               var(--grey-dark);
  --card-title-text:       var(--grey-light-2);
  --card-note-text:        var(--body-text);
}