:root {
  /* Color palette */
  --light:       #ffffff;
  --dark:        #1a1a1a;
  --black:       #000000;
  --grey-lighter: ##CCCCCC;
  --grey-light:  #A7A7A7;
  --grey:        #666666;
  --grey-dark:   #363636;
  --green-light: #D7FFE0;
  --green:       #018C0F;
  --blue:        #13B0F5;
  --pink:        #E70FAA;
  --purple-dark: #42446E;

  --gradient: linear-gradient(
    to right,
    var(--blue),
    var(--pink)
  );

  /* Colors */
  --body-bg: var(--light);
  --body-text-color: var(--grey);
  --link-text-color: var(--black);
  --link-text-color-hover: var(--grey);
  --heading-text-color: var(--purple-dark);
  --header-text-color: var(--black);
}

/* Base */
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: var(--body-bg);
  font-size: 1.6rem;
}

img {
  width: 100%;
}

/* Typography */
body {
  font-family: "Poppins", sans-serif;
  color: var(--body-text-color);
  display: flex;
  flex-direction: column;
}

p {
  padding: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 1em 0;
  color: var(--heading-text-color);
  line-height: 1;
}

a {
  color: var(--link-text-color);
}

a:hover {
  color: var(--link-text-color-hover);
  text-decoration: none;
}

/* Layout */

.header {
  padding: 1rem;
  text-align: center;
  color: var(--header-text-color);
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__nav-pages {
  display: contents;
  list-style: none;
}

.header__nav-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin-top: 1rem;
  font-size: 1.6em;
}

.header__nav-socials .icon-twitter_circle {
  font-size: 1.1em;
}

.header__nav a {
  font-weight: 600;
  text-decoration: none;
}

.header__nav .toggle-menu {
  position: absolute;
  right: 0;
  font-size: 1.5em;
}

.header__nav .toggle-menu:hover {
  cursor: pointer;
}

.header__logo {
  font-size: rem;
  text-align: left;
}

.footer {
  padding: 2rem;
  text-align: center;
}

.page-content {
  flex: 1;
  padding: 4rem;
}

/* Elements */

.logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo a {
  text-align: center;
}

.logo__upper {
  font-weight: 800;
  font-size: 1.5em;
}
.logo__lower {
  margin-top: -.4em;
}

/* Gradient border with border-radius solution from:
https://css-tricks.com/gradient-borders-in-css/ */

.profile-img {
  --border-width: 5px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 200px;
  border-radius: 50%;
  border: solid var(--border-width) transparent;
}

.profile-img img {
  border-radius: inherit;
}

.profile-img::after {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  margin: calc(var(--border-width) * -1);
  border-radius: inherit;
  background: var(--gradient);
}

/* Utilities */

.gradient-text {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}