@import "./icons.css";
@import "./base.css";

/* Typography --------------------------- */

body {
  font-family: "Poppins", sans-serif;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 2.2rem 0;
  color: var(--heading-text);
  line-height: 1;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3rem; }

a {
  color: var(--link-text);
  text-underline-offset: 0.3rem;
}

a:hover {
  display: inline-block;
  color: var(--link-text-hover);
  text-decoration-color: transparent;
  text-underline-offset: 0.6rem;
}


/* Layout --------------------------- */

.wrapper {
  position: relative;
  z-index: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--body-bg);
  color: var(--body-text);
}

/* Header */

.header {
  padding: 1rem;
  text-align: center;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__socials-container {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
}

.header__nav-pages {
  display: contents;
  list-style: none;
}

.header__socials {
  display: contents;
  list-style: none;
  margin-top: 1rem;
  font-size: 1.6em;

}

.header__socials li:hover .icon {
  transform: scale(1.4);
}

.header__socials .icon-twitter_circle {
  /* Twitter icon is different size than the others, might do a better fix later */
  font-size: 1.1em;
}

.header__nav a {
  color: var(--header-nav-link);
  font-weight: 600;
  text-decoration: none;
  text-underline-offset: 0px;
}

.header__nav a:hover {
  color: var(--header-nav-link-hover);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__nav .toggle-menu {
  position: absolute;
  right: 0;
  font-size: 1.5em;
}

.header__nav .toggle-menu:hover {
  cursor: pointer;
}

.header__logo {
  text-align: left;
}

/* Footer */

.footer {
  padding: 2rem;
  text-align: center;
}

/* Main / Page content */

.page-content {
  flex: 1;
  width: 100%;
  padding: 4rem;
}

.page-home__title {
  line-height: 1.2;
}

.page-contact {
  text-align: center;
}

.page-contact__title {
  padding-bottom: 1rem;
}

.page-contact__email-link {
  font-size: 4rem;
  font-weight: 600;
}

.page-contact__email-link:hover {
  text-decoration: 2px underline var(--email-link-hover);
}


/* Elements --------------------------- */

/* Logo */

.logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--logo-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo a {
  text-align: center;
}

.logo__upper {
  font-weight: 800;
  font-size: 1.5em;
}
.logo__lower {
  margin-top: -.4em;
}

/* Profile image */

.profile-img {
  max-width: 200px;
  border: .5rem solid #0000;
  border-radius: 50%;
  background: var(--gradient-blue-pink-yt) border-box;
}

.profile-img img {
  border-radius: inherit;
}

/* List */

.list {
  margin: 2rem 0;
  list-style: none;
}

.list__item {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: 2px solid var(--list-item-border);
}

.list__title {
  flex: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
  color: var(--heading-3-text);
}

.list__detail {
  font-size: 1.3rem;
  color: var(--list-detail-text);
}

.list__date:last-child {
  margin-left: auto;
}

/* Icon grid */

.icon-grid {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.icon-grid__icon {
  font-size: clamp(4rem, 14vw, 10rem);
}

.icon-grid__icon:hover {
  transform: scale(1.3);
}

/* Card */

.cards-container {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem 3rem;
}

.card {
  flex: 1;
  border-radius: 15px;
  min-width: 300px;
  overflow: hidden;
  background: var(--card-bg);
  box-shadow:
    0px 0px 40px var(--card-shadow),
    0px 0px 10px var(--card-shadow);
}

.card:hover {
  box-shadow: 0px 0px 10px var(--card-shadow-hover);
  transform: scale(1.05);
}

.card__thumbnail {
  width: 100%;
  aspect-ratio: 3 / 2;
  background-size: cover;
  background-position: center;
}

.card__content {
  padding: 2.5rem;
  font-size: 1.3rem;
}

.card__title {
  padding: 0 0 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--card-title-text);
}

.card__note {
  font-size: .9em;
  color: var(--card-note-text);
}

.card__note strong {
  font-weight: 500;
}

.card__footer {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.card__footer .icon {
  vertical-align: middle;
  font-size: 1.3em;
}

/* Pill */

.pill {
  padding: .5rem 1rem;
  background: var(--pill-bg);
  color: var(--pill-text);
  font-size: .6em;
  text-align: center;
  border-radius: 100px;
}

/* Dark mode toggle */

#theme-toggle {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Accessability fix:
Display a border around the "visible" toggle (label) when the real "hidden" toggle is focused */
#theme-toggle:focus-visible ~ .wrapper .theme-toggle__label {
  outline: 2px solid var(--focus-outline);
  outline-offset: 1rem;
}

.theme-toggle__label {
  position: relative;
  height: 3rem;
  width: 6rem;
  background: var(--toggle-bg);
  border: 2px solid var(--toggle-border);
  border-radius: 5rem;
  cursor: pointer;
}

.theme-toggle__label:hover {
  background: var(--toggle-bg-hover);
  border: 2px solid var(--toggle-border-hover);
}

.theme-toggle__label::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--toggle-button);
  border: 2px solid var(--toggle-button-border);
  border-radius: 50%;
}

.theme-toggle__label:hover::after {
  background-color: var(--toggle-button-hover);
  border: 2px solid var(--toggle-button-border-hover);
}

#theme-toggle:checked ~ .wrapper .theme-toggle__label::after {
  left: 100%;
  transform: translateX(-100%);
}

/* Utilities ------------------------------- */

.text-gradient {
  background: var(--gradient-blue-pink);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient--blue-purple {
  background: var(--gradient-blue-purple);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Transitions & Animations */

a, a:hover,
.icon-grid__icon,
.card,
.theme-toggle__label,
.theme-toggle__label::after {
  transition: all .3s;
}

.wrapper { transition: background .3s; }

.header__socials .icon { transition: transform .2s; }

/* Media queries --------------------------- */

/* Desktop: Wider than 896px */

@media screen and (min-width: 896px) {
  :root {
    --header-nav-link:            var(--grey);
    --header-nav-link-hover:      var(--black);

    --toggle-bg:                  var(--grey);
    --toggle-border:              var(--grey);
    --toggle-button:              var(--light);
    --toggle-button-border:       var(--grey);

    --toggle-bg-hover:            var(--black);
    --toggle-border-hover:        var(--black);
    --toggle-button-border-hover: var(--black);
  }

  .page-content, .header__nav {
    max-width: var(--page-max-width);
    margin: 0 auto;
  }

  .header__nav {
    padding: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .header__socials-container { display: contents; }

  .header__socials {
    display: flex;
    gap: 1rem;
  }

  .header__logo {
    font-size: 2rem;
    margin-right: auto;
  }

  .toggle-menu { display: none; }

  .theme-toggle__label { margin: 0; }

  .page-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-img { max-width: 250px; }

  .list__item { gap: 1rem 3rem; }

  .list__detail-container { display: contents; }

  .icon-grid { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }

  .card { min-width: 220px; }
}